form {
  background-color: #eee;
  height: 100%;
  width: 75%;
}
form {
  margin-left: 10%;
}
h1,#desc {
  text-align: center;
}
#intro,#dropdown,#sport,#sub {
  margin-left: 40%;
}

#id {
  -webkit-appearance: none;
  width: 100%;
  border: 1px solid #333;
  margin: 0;
  font-family: inherit;
  font-size: 90%;
}
input:invalid {
  border-color: #900;
  background-color: #fdd;
}
input:focus:invalid {
  outline: none;
}
.error {
  width: 100%;
  padding: 0;
  font-size: 80%;
  color: white;
  background-color: red;
  border-radius: 0 0 5px 5px;
}
.error.active {
  padding: 0.3em;
}
